.section-title {
	display: block;
	margin: var(--vspace-1) 0;
	position: relative;
}
.section-title h3 {
	z-index: 2;
	font-weight: 500;
	color: var(--color-1);
	margin-top: 0;
}
.display-1 {
	font-size: var(--text-xxl);
	font-weight: 500;
	line-height: var(--vspace-1_75);
	margin-top: 0;
}

@media screen and (max-width: 1000px) {
	.section-title::before {
		font-size: calc(var(--text-size) * 8);
	}
}

@media screen and (max-width: 800px) {
	.section-title {
		margin-bottom: var(--vspace-1);
	}
}

@media screen and (max-width: 400px) {
	.display-1 {
		font-size: var(--text-xl);
		line-height: var(--vspace-1_5);
	}
}