@import url(https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Nunito+Sans:300,300i,400,400i,600,600i,700,700i&display=swap);
@font-face {
  font-family: "Bodigako";
  src: url(../../fonts/BODIGAKO.otf) format("opentype"), url(../../fonts/BODIGAKO.ttf) format("truetype");
}

@font-face {
  font-family: "Akufadhl";
  src: url(../../fonts/Akufadhl.otf) format("opentype");
}

:root {
  --font-1: "Akufadhl", "Nunito Sans", sans-serif;
  --font-2: "Bodigako", "Montserrat", sans-serif;
  --font-mono: Consolas, "Andale Mono", Courier, "Courier New", monospace;
}

:root {
  --color-1: hsla(38, 93%, 44%, 1);
  --color-2: hsla(38, 79%, 63%, 1);
  --color-3: hsla(34, 75%, 80%, 1);
  --color-1-lighter: hsla(38, 93%, 64%, 1);
  --color-1-light: hsla(38, 93%, 54%, 1);
  --color-1-dark: hsla(38, 93%, 34%, 1);
  --color-1-darker: hsla(38, 93%, 24%, 1);
  --color-2-lighter: hsla(38, 79%, 83%, 1);
  --color-2-light: hsla(38, 79%, 73%, 1);
  --color-2-dark: hsla(38, 79%, 53%, 1);
  --color-2-darker: hsla(38, 79%, 43%, 1);
  --color-error: hsla(359, 100%, 91%, 1);
  --color-success: hsla(76, 69%, 68%, 1);
  --color-info: hsla(205, 82%, 91%, 1);
  --color-notice: hsla(51, 100%, 80%, 1);
  --color-error-content: hsla(359, 50%, 50%, 1);
  --color-succecontent: hsla(76, 29%, 28%, 1);
  --color-info-content: hsla(205, 32%, 31%, 1);
  --color-notice-content: hsla(51, 30%, 30%, 1);
  --color-black: #000000;
  --color-gray-19: #0b0b0c;
  --color-gray-18: #161719;
  --color-gray-17: #202225;
  --color-gray-16: #2b2e32;
  --color-gray-15: #363a3f;
  --color-gray-14: #41454b;
  --color-gray-13: #4c5158;
  --color-gray-12: #565c64;
  --color-gray-11: #616871;
  --color-gray-10: #6c737d;
  --color-gray-9: #7b818a;
  --color-gray-8: #898f97;
  --color-gray-7: #989da4;
  --color-gray-6: #a7abb1;
  --color-gray-5: #b6b9be;
  --color-gray-4: #c4c7cb;
  --color-gray-3: #d3d5d8;
  --color-gray-2: #e2e3e5;
  --color-gray-1: #f0f1f2;
  --color-white: #ffffff;
  --color-text: var(--color-gray-10);
  --color-text-dark: var(--color-white);
  --color-text-light: var(--color-gray-12);
  --color-placeholder: var(--color-gray-11);
  --color-btn: var(--color-gray-15);
  --color-btn-text: var(--color-white);
  --color-btn-hover: var(--color-white);
  --color-btn-hover-text: var(--color-black);
  --color-btn-primary: var(--color-1);
  --color-btn-primary-text: var(--color-white);
  --color-btn-primary-hover: var(--color-white);
  --color-btn-primary-hover-text: var(--color-black);
  --color-btn-stroke: var(--color-white);
  --color-btn-stroke-text: var(--color-white);
  --color-btn-stroke-hover: var(--color-white);
  --color-btn-stroke-hover-text: var(--color-black);
  --color-body: var(--color-1);
  --color-bg: #14171b;
  --color-border: var(--color-gray-17);
}

:root {
  --base-size: 62.5%;
  --base-font-size: 1.8rem;
  --space: 3.2rem;
  --vspace-0_25: calc(0.25 * var(--space));
  --vspace-0_5: calc(0.5 * var(--space));
  --vspace-0_75: calc(0.75 * var(--space));
  --vspace-1: calc(var(--space));
  --vspace-1_25: calc(1.25 * var(--space));
  --vspace-1_5: calc(1.5 * var(--space));
  --vspace-1_75: calc(1.75 * var(--space));
  --vspace-2: calc(2 * var(--space));
  --vspace-2_5: calc(2.5 * var(--space));
  --vspace-3: calc(3 * var(--space));
  --vspace-3_5: calc(3.5 * var(--space));
  --vspace-4: calc(4 * var(--space));
  --text-scale-ratio: 1.2;
  --text-size: var(--base-font-size);
  --text-xs: calc(
		(var(--text-size) / var(--text-scale-ratio)) / var(--text-scale-ratio)
	);
  --text-sm: calc(var(--text-xs) * var(--text-scale-ratio));
  --text-md: calc(
		var(--text-sm) * var(--text-scale-ratio) * var(--text-scale-ratio)
	);
  --text-lg: calc(var(--text-md) * var(--text-scale-ratio));
  --text-xl: calc(var(--text-lg) * var(--text-scale-ratio));
  --text-xxl: calc(var(--text-xl) * var(--text-scale-ratio));
  --text-xxxl: calc(var(--text-xxl) * var(--text-scale-ratio));
  --text-display-1: calc(var(--text-xxxl) * var(--text-scale-ratio));
  --text-display-2: calc(var(--text-display-1) * var(--text-scale-ratio));
  --text-display-3: calc(var(--text-display-2) * var(--text-scale-ratio));
  --vspace-btn: var(--vspace-2);
}

@media screen and (max-width: 480px) {
  :root {
    --base-font-size: 1.6rem;
    --space: 2.8rem;
  }
}

:root {
  --width-full: 100%;
  --width-max: 1200px;
  --width-wide: 1400px;
  --width-wider: 1600px;
  --width-widest: 1800px;
  --width-narrow: 1000px;
  --width-narrower: 900px;
  --width-grid-max: var(--width-max);
  --gutter-lg: 2rem;
  --gutter-md: 1.6rem;
  --gutter-mob: 1rem;
}

html {
  scroll-behavior: smooth;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a {
  background-color: transparent;
}

img {
  border-style: none;
}

[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

[type="button"]::-moz-focuinner,
[type="reset"]::-moz-focuinner,
[type="submit"]::-moz-focuinner {
  border-style: none;
  padding: 0;
}

[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

[hidden] {
  display: none;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
::after,
::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-weight: 400;
  line-height: 1;
  word-wrap: break-word;
  -moz-font-smoothing: grayscale;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: none;
}

img {
  max-width: 100%;
  height: auto;
}

div,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p,
ul {
  margin: 0;
  padding: 0;
}

p {
  font-size: inherit;
  text-rendering: optimizeLegibility;
}

i {
  font-style: italic;
  line-height: inherit;
}

ul {
  list-style: none;
}

li {
  display: block;
}

a {
  text-decoration: none;
  line-height: inherit;
}

a img {
  border: none;
}

html {
  font-size: var(--base-size);
}

body,
html {
  height: 100%;
}

body {
  background: var(--color-body);
  font-family: var(--font-1);
  font-size: var(--text-size);
  font-style: normal;
  font-weight: 400;
  line-height: var(--vspace-1);
  color: var(--color-text);
  margin: 0;
  padding: 0;
}

a {
  color: var(--color-1-light);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

a:active,
a:focus,
a:hover {
  color: #fff;
}

a:active,
a:hover {
  outline: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-2);
  font-weight: 500;
  font-style: normal;
  color: var(--color-text-dark);
  -webkit-font-variant-ligatures: common-ligatures;
  font-variant-ligatures: common-ligatures;
  text-rendering: optimizeLegibility;
}

.h1,
h1 {
  margin-top: var(--vspace-2_5);
  margin-bottom: var(--vspace-0_75);
}

.h2,
.h3,
.h4,
h2,
h3,
h4 {
  margin-top: var(--vspace-2);
  margin-bottom: var(--vspace-0_5);
}

.h5,
.h6,
h5,
h6 {
  margin-top: var(--vspace-1_5);
  margin-bottom: var(--vspace-0_5);
}

.h1,
h1 {
  font-size: var(--text-display-1);
  line-height: var(--vspace-2);
  letter-spacing: -0.015em;
}

@media screen and (max-width: 400px) {
  .h1,
  h1 {
    font-size: var(--text-xxxl);
    line-height: var(--vspace-1_75);
  }
}

.h2,
h2 {
  font-size: var(--text-xxl);
  line-height: var(--vspace-1_5);
}

.h3,
h3 {
  font-size: var(--text-xl);
  line-height: var(--vspace-1_25);
}

.h4,
h4 {
  font-size: var(--text-lg);
  line-height: var(--vspace-1);
}

.h5,
h5 {
  font-size: var(--text-md);
  line-height: calc(0.875 * var(--space));
}

.h6,
h6 {
  font-size: var(--text-sm);
  font-weight: 600;
  line-height: var(--vspace-0_75);
  text-transform: uppercase;
  letter-spacing: 0.22em;
}

.lead {
  font-family: var(--font-1);
  font-weight: 400;
  font-size: var(--text-md);
  line-height: calc(1.125 * var(--space));
}

@media screen and (max-width: 400px) {
  .lead {
    font-size: 1.9rem;
  }
}

p img {
  margin: 0;
  vertical-align: bottom;
}

i {
  font-size: inherit;
  line-height: inherit;
}

i {
  font-family: var(--font-1);
  font-style: italic;
}

ul {
  list-style: disc;
}

li {
  display: list-item;
}

ul {
  margin-left: 1.6rem;
}

ul li {
  padding-left: 0.4rem;
}

ul ul {
  margin: var(--vspace-0_5) 0 var(--vspace-0_5) var(--vspace-0_5);
}

.btn,
img,
p,
ul {
  margin-bottom: var(--vspace-1);
}

@-webkit-keyframes dotjump {
  0% {
    top: 0;
  }
  40% {
    top: -6px;
  }
  80% {
    top: 0;
  }
}

@keyframes dotjump {
  0% {
    top: 0;
  }
  40% {
    top: -6px;
  }
  80% {
    top: 0;
  }
}

@-webkit-keyframes dotfade {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 0.2;
  }
  80% {
    opacity: 1;
  }
}

@keyframes dotfade {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 0.2;
  }
  80% {
    opacity: 1;
  }
}

@-webkit-keyframes dotpulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  40% {
    -webkit-transform: scale(1.1);
    transform: scale(1.3);
  }
  80% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes dotpulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  40% {
    -webkit-transform: scale(1.1);
    transform: scale(1.3);
  }
  80% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

::-webkit-input-placeholder {
  color: var(--color-placeholder);
}

:-minput-placeholder {
  color: var(--color-placeholder);
}

::-minput-placeholder {
  color: var(--color-placeholder);
}

::-webkit-input-placeholder {
  color: var(--color-placeholder);
}

:-ms-input-placeholder {
  color: var(--color-placeholder);
}

::-ms-input-placeholder {
  color: var(--color-placeholder);
}

::placeholder {
  color: var(--color-placeholder);
}

.row {
  width: 92%;
  max-width: var(--width-grid-max);
  margin: 0 auto;
  display: -mflexbox;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -mflex-flow: row wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
}

.row .row {
  width: auto;
  max-width: none;
  margin-left: calc(var(--gutter-lg) * -1);
  margin-right: calc(var(--gutter-lg) * -1);
}

.column {
  -mflex: 1 1 0%;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0%;
      flex: 1 1 0%;
  padding: 0 var(--gutter-lg);
}

.collapse > .column,
.column.collapse {
  padding: 0;
}

.row.row-y-top {
  -mflex-align: start;
  -webkit-box-align: start;
  -ms-flex-align: start;
      align-items: flex-start;
}

.row.row-y-bottom {
  -mflex-align: end;
  -webkit-box-align: end;
  -ms-flex-align: end;
      align-items: flex-end;
}

.row.row-y-center {
  -mflex-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
}

.row.row-x-center {
  -mflex-pack: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.large-1 {
  -mflex: 0 0 8.33333%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 8.33333%;
      flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.large-2 {
  -mflex: 0 0 16.66667%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.66667%;
      flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.large-3 {
  -mflex: 0 0 25%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
      flex: 0 0 25%;
  max-width: 25%;
}

.large-4 {
  -mflex: 0 0 33.33333%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.33333%;
      flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.large-5 {
  -mflex: 0 0 41.66667%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.66667%;
      flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.large-6 {
  -mflex: 0 0 50%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
      flex: 0 0 50%;
  max-width: 50%;
}

.large-7 {
  -mflex: 0 0 58.33333%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58.33333%;
      flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.large-8 {
  -mflex: 0 0 66.66667%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.66667%;
      flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.large-9 {
  -mflex: 0 0 75%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
      flex: 0 0 75%;
  max-width: 75%;
}

.large-10 {
  -mflex: 0 0 83.33333%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 83.33333%;
      flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.large-11 {
  -mflex: 0 0 91.66667%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 91.66667%;
      flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.large-12 {
  -mflex: 0 0 100%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
      flex: 0 0 100%;
  max-width: 100%;
}

@media screen and (max-width: 1200px) {
  .row .row {
    margin-left: calc(var(--gutter-md) * -1);
    margin-right: calc(var(--gutter-md) * -1);
  }
  .column {
    padding: 0 var(--gutter-md);
  }
  .medium-1 {
    -mflex: 0 0 8.33333%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
        flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .medium-2 {
    -mflex: 0 0 16.66667%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
        flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .medium-3 {
    -mflex: 0 0 25%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
        flex: 0 0 25%;
    max-width: 25%;
  }
  .medium-4 {
    -mflex: 0 0 33.33333%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .medium-5 {
    -mflex: 0 0 41.66667%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
        flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .medium-6 {
    -mflex: 0 0 50%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    max-width: 50%;
  }
  .medium-7 {
    -mflex: 0 0 58.33333%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
        flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .medium-8 {
    -mflex: 0 0 66.66667%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
        flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .medium-9 {
    -mflex: 0 0 75%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
        flex: 0 0 75%;
    max-width: 75%;
  }
  .medium-10 {
    -mflex: 0 0 83.33333%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
        flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .medium-11 {
    -mflex: 0 0 91.66667%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
        flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .medium-12 {
    -mflex: 0 0 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .row {
    width: 90%;
  }
  .tab-1 {
    -mflex: 0 0 8.33333%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
        flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .tab-2 {
    -mflex: 0 0 16.66667%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
        flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .tab-3 {
    -mflex: 0 0 25%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
        flex: 0 0 25%;
    max-width: 25%;
  }
  .tab-4 {
    -mflex: 0 0 33.33333%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .tab-5 {
    -mflex: 0 0 41.66667%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
        flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .tab-6 {
    -mflex: 0 0 50%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    max-width: 50%;
  }
  .tab-7 {
    -mflex: 0 0 58.33333%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
        flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .tab-8 {
    -mflex: 0 0 66.66667%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
        flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .tab-9 {
    -mflex: 0 0 75%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
        flex: 0 0 75%;
    max-width: 75%;
  }
  .tab-10 {
    -mflex: 0 0 83.33333%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
        flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .tab-11 {
    -mflex: 0 0 91.66667%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
        flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .tab-12 {
    -mflex: 0 0 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .row {
    width: 100%;
    padding-left: 6vw;
    padding-right: 6vw;
  }
  .row .row {
    margin-left: calc(var(--gutter-mob) * -1);
    margin-right: calc(var(--gutter-mob) * -1);
    padding-left: 0;
    padding-right: 0;
  }
  .column {
    padding: 0 var(--gutter-mob);
  }
}

@media screen and (max-width: 400px) {
  .row .row {
    margin-left: 0;
    margin-right: 0;
  }
  .column {
    -mflex: 0 0 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }
}

.block-large-1-8 > .column {
  -mflex: 0 0 12.5%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 12.5%;
      flex: 0 0 12.5%;
  max-width: 12.5%;
}

.block-large-1-6 > .column {
  -mflex: 0 0 16.66667%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.66667%;
      flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.block-large-1-5 > .column {
  -mflex: 0 0 20%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20%;
      flex: 0 0 20%;
  max-width: 20%;
}

.block-large-1-4 > .column {
  -mflex: 0 0 25%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
      flex: 0 0 25%;
  max-width: 25%;
}

.block-large-1-3 > .column {
  -mflex: 0 0 33.33333%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.33333%;
      flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.block-large-1-2 > .column {
  -mflex: 0 0 50%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
      flex: 0 0 50%;
  max-width: 50%;
}

.block-large-full > .column {
  -mflex: 0 0 100%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
      flex: 0 0 100%;
  max-width: 100%;
}

@media screen and (max-width: 1200px) {
  .block-medium-1-8 > .column {
    -mflex: 0 0 12.5%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 12.5%;
        flex: 0 0 12.5%;
    max-width: 12.5%;
  }
  .block-medium-1-6 > .column {
    -mflex: 0 0 16.66667%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
        flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .block-medium-1-5 > .column {
    -mflex: 0 0 20%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
        flex: 0 0 20%;
    max-width: 20%;
  }
  .block-medium-1-4 > .column {
    -mflex: 0 0 25%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
        flex: 0 0 25%;
    max-width: 25%;
  }
  .block-medium-1-3 > .column {
    -mflex: 0 0 33.33333%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .block-medium-1-2 > .column {
    -mflex: 0 0 50%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    max-width: 50%;
  }
  .block-medium-full > .column {
    -mflex: 0 0 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .block-tab-1-8 > .column {
    -mflex: 0 0 12.5%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 12.5%;
        flex: 0 0 12.5%;
    max-width: 12.5%;
  }
  .block-tab-1-6 > .column {
    -mflex: 0 0 16.66667%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
        flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .block-tab-1-5 > .column {
    -mflex: 0 0 20%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
        flex: 0 0 20%;
    max-width: 20%;
  }
  .block-tab-1-4 > .column {
    -mflex: 0 0 25%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
        flex: 0 0 25%;
    max-width: 25%;
  }
  .block-tab-1-3 > .column {
    -mflex: 0 0 33.33333%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .block-tab-1-2 > .column {
    -mflex: 0 0 50%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    max-width: 50%;
  }
  .block-tab-full > .column {
    -mflex: 0 0 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .stack > .column {
    -mflex: 0 0 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }
}

.ihidden {
  display: none;
}

.h-full-width {
  width: 100%;
}

.h-text-center {
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .block-1000-stack > .column {
    -mflex: 0 0 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .block-900-stack > .column,
  .w-900-stack {
    -mflex: 0 0 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 100%;
  }
}

.narrower {
  max-width: var(--width-narrower);
}

.block-1-3 > .column {
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  width: 100%;
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .block-1-3 > .column {
    max-width: 50%;
  }
}

@media screen and (min-width: 992px) {
  .block-1-3 > .column {
    -ms-flex: 0 0 33.33333%;
    -webkit-box-flex: 0;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
}

.btn {
  --btn-height: var(--vspace-btn);
  display: inline-block;
  font-family: var(--font-2);
  font-weight: 600;
  font-size: var(--text-xs);
  text-transform: uppercase;
  letter-spacing: 0.5em;
  height: var(--btn-height);
  line-height: calc(var(--btn-height) - 0.4rem);
  padding: 0 3.2rem;
  margin: 0 0.4rem var(--vspace-0_5) 0;
  color: var(--color-btn-text);
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-btn);
  border: 0.2rem solid var(--color-btn);
}

.btn:focus,
.btn:hover {
  background-color: var(--color-btn-hover);
  border-color: var(--color-btn-hover);
  color: var(--color-btn-hover-text);
  outline: 0;
}

.btn.h-full-width {
  width: 100%;
  margin-right: 0;
}

.btn--medium {
  --btn-height: calc(var(--vspace-btn) + var(--vspace-0_25));
}

.btn--large {
  --btn-height: calc(var(--vspace-btn) + var(--vspace-0_5));
}

.section-title {
  display: block;
  margin-bottom: var(--vspace-2);
  position: relative;
}

.section-title::before {
  content: attr(data-num);
  font-family: var(--font-2);
  font-weight: 600;
  font-size: calc(var(--text-size) * 10);
  line-height: 1;
  letter-spacing: -0.02em;
  color: var(--color-text);
  opacity: 0.1;
}

.section-title h3 {
  z-index: 2;
  font-weight: 500;
  color: var(--color-1);
  padding-bottom: 2em;
  margin-top: 0;
  position: absolute;
  left: 1em;
  bottom: 0;
}

.display-1 {
  font-size: var(--text-xxl);
  font-weight: 500;
  line-height: var(--vspace-1_75);
  margin-top: 0;
}

@media screen and (max-width: 1000px) {
  .section-title::before {
    font-size: calc(var(--text-size) * 8);
  }
}

@media screen and (max-width: 800px) {
  .section-title {
    margin-bottom: var(--vspace-1);
  }
}

@media screen and (max-width: 400px) {
  .display-1 {
    font-size: var(--text-xl);
    line-height: var(--vspace-1_5);
  }
}

/* ===================================================================
* # SITE HEADER
*
*
* ------------------------------------------------------------------- */
.header {
  --header-height: 64px;
  --logo-width: 90px;
  z-index: 100;
  background-color: transparent;
  height: 74px;
  width: 100%;
  position: absolute;
  top: 3.2rem;
  left: 0;
  /* --------------------------------------------------------------------
    * ## logo
    * -------------------------------------------------------------------- */
  /* --------------------------------------------------------------------
    * ## main navigation
    * -------------------------------------------------------------------- */
  /* --------------------------------------------------------------------
    * ## cta button
    * -------------------------------------------------------------------- */
  /* --------------------------------------------------------------------
    * ## mobile menu toggle
    * -------------------------------------------------------------------- */
}

@media screen and (max-width: 800px) {
  .header {
    --logo-width: 80px;
    top: 1.6rem;
  }
}

.header.sticky {
  --header-height: 80px;
  --logo-width: 82px;
  opacity: 0;
  visibility: hidden;
  background-color: var(--color-gray-17);
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 500px) {
  .header.sticky {
    --header-height: 76px;
  }
}

.header.sticky.scrolling {
  opacity: 1;
  visibility: visible;
}

.header.sticky.scrolling .logo img {
  width: 60px !important;
}

.header.sticky .header__inner {
  max-width: var(--width-grid-max) !important;
}

@media screen and (max-width: 1800px) {
  .header.sticky .header__inner {
    max-width: var(--width-grid-max) !important;
  }
}

@media screen and (max-width: 1700px) {
  .header.sticky .header__inner {
    max-width: var(--width-grid-max) !important;
  }
}

@media screen and (max-width: 1600px) {
  .header.sticky .header__inner {
    max-width: var(--width-grid-max) !important;
  }
}

.header.sticky .header__cta {
  margin-right: 0;
}

.header.sticky .header__cta .header__btn {
  font-size: calc(1.8rem * 0.8333);
  background-color: var(--color-1) !important;
  border-color: transparent;
}

.header.sticky .header__cta .header__btn:hover, .header.sticky .header__cta .header__btn:focus {
  background-color: var(--color-white) !important;
  border-color: var(--color-white) !important;
  color: var(--color-1) !important;
}

.header.offset {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header.scrolling {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.header__inner {
  max-width: var(--width-wider);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2.2rem;
  height: 100%;
}

@media screen and (max-width: 1800px) {
  .header__inner {
    max-width: 1500px;
  }
}

@media screen and (max-width: 1700px) {
  .header__inner {
    max-width: 1420px;
  }
}

@media screen and (max-width: 1600px) {
  .header__inner {
    max-width: 1360px;
  }
}

@media screen and (max-width: 800px) {
  .header__inner {
    max-width: none;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

.header__block {
  z-index: 101;
}

@media screen and (max-width: 800px) {
  .header__block {
    width: 100%;
    height: 74px;
    background-color: transparent;
  }
}

.header__logo {
  z-index: 3;
  line-height: 1;
  -webkit-transform: translate(4px, -2px);
          transform: translate(4px, -2px);
}

@media screen and (max-width: 400px) {
  .header__logo {
    -webkit-transform: translate(6.1vw, -50%);
            transform: translate(6.1vw, -50%);
  }
}

@media screen and (max-width: 800px) {
  .header__logo {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translate(4.2rem, -50%);
            transform: translate(4.2rem, -50%);
  }
}

.header__logo a {
  display: block;
  margin: 0;
  padding: 0;
  outline: 0;
  border: none;
}

.header__logo img {
  width: 70px;
  margin: 0;
  vertical-align: bottom;
}

.header__nav {
  margin-left: 2rem;
}

.header__nav ul {
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 800px) {
  .header__nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  .header__nav ul {
    display: block;
    margin-left: 0;
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
    opacity: 0;
    visibility: hidden;
  }
}

.header__nav li {
  padding-left: 0;
}

.header__nav a {
  display: block;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 64px;
  color: rgba(255, 255, 255, 0.6);
  padding: 0 1.2rem;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

@media screen and (max-width: 800px) {
  .header__nav a {
    display: inline-block;
    font-size: calc(1.8rem * 0.9444);
    line-height: 1;
    padding: 1.6rem 0;
  }
}

.header__nav a:hover {
  color: var(--color-gray-2);
}

.header__nav-btn {
  margin-top: 1.6rem;
}

.header__nav-btn a {
  padding-left: 3.2rem;
  padding-right: 3.2rem;
  background-color: var(--color-1);
  border-color: var(--color-1);
  color: var(--color-white);
}

.header__nav-btn a:hover, .header__nav-btn a:focus {
  background-color: var(--color-white);
  border-color: var(--color-white);
  color: var(--color-1);
}

@media screen and (min-width: 800px) {
  .header__nav-btn {
    display: none;
  }
}

.header__nav .current a {
  color: var(--color-white);
}

@media screen and (max-width: 800px) {
  .header__nav {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: center top;
            transform-origin: center top;
    display: block;
    background-color: var(--color-bg);
    width: 100%;
    padding-top: calc(64px + 4rem);
    padding-right: 4.2rem;
    padding-left: 4.2rem;
    padding-bottom: 4rem;
    margin: 0;
    position: absolute;
    top: calc(1.6rem * -1);
    left: 0;
  }
}

.header__cta {
  margin-right: 4rem;
  margin-left: auto;
}

@media screen and (max-width: 1100px) {
  .header__cta {
    margin-right: 0;
  }
}

@media screen and (max-width: 800px) {
  .header__cta {
    display: none;
  }
}

.header__cta .header__btn {
  font-size: calc(1.8rem * 0.8889);
  line-height: calc(5.4rem - 4px);
  font-weight: 400;
  margin: 0;
  padding: 0 3.2rem;
  border-color: var(--color-white);
  color: var(--color-white);
}

.header__cta .header__btn:focus, .header__cta .header__btn:hover {
  background-color: var(--color-1) !important;
  border-color: var(--color-1) !important;
}

.header__btn {
  display: inline-block;
  font-family: var(--font-1);
  font-size: 2.2rem;
  font-weight: 600;
  letter-spacing: 0.02em;
  height: 4.4rem;
  line-height: calc(4.4rem - 4px) !important;
  padding: 0 2.2rem !important;
  margin: 0 0.4rem 1.6rem 0;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header__btn-stroke {
  background: transparent !important;
  font-weight: 500;
  border: 2px solid var(--color-black);
}

.header__menu-toggle {
  display: none;
  width: 6.8rem;
  height: 64px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 1.6rem;
  /* is clicked 
        */
}

@media screen and (max-width: 800px) {
  .header__menu-toggle {
    display: block;
  }
}

@media screen and (max-width: 400px) {
  .header__menu-toggle {
    right: 1.75rem;
  }
}

.header__menu-toggle span {
  display: block;
  background-color: var(--color-white);
  width: 22px;
  height: 2px;
  margin-top: -1px;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  transition-property: background-color;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-property: background-color;
  position: absolute;
  right: 23px;
  top: 50%;
  bottom: auto;
  left: auto;
}

.header__menu-toggle span::before, .header__menu-toggle span::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: inherit;
  transition-duration: 0.2s, 0.2s;
  transition-delay: 0.2s, 0s;
  -webkit-transition-duration: 0.2s, 0.2s;
  -webkit-transition-delay: 0.2s, 0s;
  position: absolute;
  left: 0;
}

.header__menu-toggle span::before {
  top: -8px;
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, -webkit-transform;
  transition-property: top, transform;
  transition-property: top, transform, -webkit-transform;
  -webkit-transition-property: top, transform;
}

.header__menu-toggle span::after {
  bottom: -8px;
  -webkit-transition-property: bottom, -webkit-transform;
  transition-property: bottom, -webkit-transform;
  transition-property: bottom, transform;
  transition-property: bottom, transform, -webkit-transform;
  -webkit-transition-property: bottom, transform;
}

.header__menu-toggle.iclicked span {
  background-color: rgba(255, 255, 255, 0);
}

.header__menu-toggle.iclicked span::before, .header__menu-toggle.iclicked span::after {
  background-color: var(--color-white);
  transition-delay: 0s, 0.2s;
  -webkit-transition-delay: 0s, 0.2s;
}

.header__menu-toggle.iclicked span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header__menu-toggle.iclicked span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/* ------------------------------------------------------------------- 
* responsive:
* site-header
* ------------------------------------------------------------------- */
@media screen and (max-width: 800px) {
  .menu-iopen .header {
    height: auto;
  }
  .menu-iopen .header__nav {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    transition-delay: 0s;
    -webkit-transition-duration: 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transition-property: transform;
    -webkit-transition-delay: 0s;
  }
  .menu-iopen .header__nav ul {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    visibility: visible;
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    transition-delay: 0s;
    -webkit-transition-duration: 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transition-property: transform;
    -webkit-transition-delay: 0s;
  }
}

.footer {
  padding-top: var(--vspace-2);
  padding-bottom: var(--vspace-4);
  color: #fff;
}

.footer a {
  color: var(--color-white);
}

.footer .h6 {
  color: var(--color-black);
  margin-top: 0;
}

.footer__block {
  font-size: var(--text-lg);
  line-height: calc(1.25 * var(--space));
}

@media screen and (max-width: 400px) {
  .footer__block {
    font-size: var(--text-md);
    line-height: calc(1.125 * var(--space));
  }
}

.footer__block .h6 {
  margin-bottom: var(--vspace-0_75);
}

.footer__block a:hover, .footer__block a:focus {
  color: var(--color-gray-3);
}

.footer__block--end {
  font-size: var(--text-sm);
  line-height: var(--vspace-1);
  padding-top: var(--vspace-1_75);
  position: relative;
}

.footer__block--end::before {
  display: block;
  content: "";
  height: 1px;
  width: 33.333%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: var(--vspace-0_25);
  left: var(--gutter-lg);
}

@media screen and (max-width: 1200px) {
  .footer__block--end::before {
    display: none;
  }
}

.footer__block--end .btn {
  background-color: #fff;
  border: 0.2rem solid #fff;
  color: #000;
  margin-right: 0;
  margin-bottom: var(--vspace-1);
}

.footer__block--end .btn:hover, .footer__block--end .btn:focus {
  background-color: var(--color-gray-19);
  border: 0.2rem solid var(--color-gray-19);
  color: #fff;
}

@media screen and (max-width: 1200px) {
  .footer__block--end {
    text-align: center;
  }
}

.footer__list {
  list-style: none;
  margin-left: 0;
}

.footer__list li {
  padding-left: 0;
}

.footer .copyright {
  z-index: 2;
  font-size: 1.5rem;
  font-weight: 300;
  position: relative;
}

@media screen and (max-width: 400px) {
  .footer .copyright {
    font-size: 1.4rem;
  }
}

.footer .copyright a {
  display: inline-block;
  color: #fff;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
}

.footer .copyright a:hover, .footer .copyright a:focus {
  border-bottom: 1px solid #fff;
}

.footer .copyright span {
  display: inline-block;
}

.footer .copyright span::after {
  content: "|";
  display: inline-block;
  padding: 0 0.8rem 0 1rem;
  color: rgba(255, 255, 255, 0.25);
}

@media screen and (max-width: 600px) {
  .footer .copyright span::after {
    display: none;
  }
}

.footer .copyright span:last-child::after {
  display: none;
}

@media screen and (max-width: 600px) {
  .footer .copyright span {
    display: block;
  }
}

.footer .go-top {
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-duration: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-duration: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  position: fixed;
  bottom: var(--vspace-1);
  right: 4rem;
}

@media screen and (max-width: 600px) {
  .footer .go-top {
    right: 2.4rem;
    bottom: 2.4rem;
  }
}

.footer .go-top a {
  text-decoration: none;
  border: 0 none;
  display: block;
  height: 6.4rem;
  width: 6.4rem;
  line-height: 6.4rem;
  text-align: center;
  border-radius: 50%;
  background-color: var(--color-gray-19) !important;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  position: relative;
}

@media screen and (max-width: 800px) {
  .footer .go-top a {
    font-size: 1.6rem;
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
  }
}

@media screen and (max-width: 400px) {
  .footer .go-top a {
    font-size: 1.4rem;
    height: 4.8rem;
    width: 4.8rem;
    line-height: 4.8rem;
  }
}

@media screen and (max-width: 1400px) {
  .footer > .row {
    max-width: 1100px;
  }
}

@media screen and (max-width: 1200px) {
  .footer > .row {
    max-width: 800px;
  }
}

@media screen and (max-width: 800px) {
  .footer {
    padding-top: var(--vspace-1);
  }
}
/*# sourceMappingURL=base.css.map */