.footer {
	padding-top: var(--vspace-2);
	padding-bottom: var(--vspace-4);
	color: #fff;

	a {
		color: var(--color-white);
	}

	.h6 {
		color: var(--color-black);
		margin-top: 0;
	}

	&__block {
		font-size: var(--text-lg);
		line-height: calc(1.25 * var(--space));

		@media screen and (max-width: 400px) {
			font-size: var(--text-md);
			line-height: calc(1.125 * var(--space));
		}

		.h6 {
			margin-bottom: var(--vspace-0_75);
		}

		a:hover, a:focus {
			color: var(--color-gray-3);
		}

		&--end {
			font-size: var(--text-sm);
			line-height: var(--vspace-1);
			padding-top: var(--vspace-1_75);
			position: relative;

			&::before {
				display: block;
				content: "";
				height: 1px;
				width: 33.333%;
				background-color: rgba(0, 0, 0, 0.5);
				position: absolute;
				top: var(--vspace-0_25);
				left: var(--gutter-lg);

				@media screen and (max-width: 1200px) {
					display: none;
				}
			}

			.btn {
				background-color: #fff;
				border: 0.2rem solid #fff;
				color: #000;
				margin-right: 0;
				margin-bottom: var(--vspace-1);

				&:hover, &:focus {
					background-color: var(--color-gray-19);
					border: 0.2rem solid var(--color-gray-19);
					color: #fff;
				}
			}

			@media screen and (max-width: 1200px) {
				text-align: center;
			}
		}

	}

	&__list {
		list-style: none;
		margin-left: 0;

		li {
			padding-left: 0;
		}


	}

	.copyright {
		z-index: 2;
		font-size: 1.5rem;
		font-weight: 300;
		position: relative;

		@media screen and (max-width: 400px) {
			font-size: 1.4rem;
		}

		a {
			display: inline-block;
			color: #fff;
			border-bottom: 1px dotted rgba(255, 255, 255, 0.2);

			&:hover, &:focus {
				border-bottom: 1px solid #fff;
			}
		}

		span {
			display: inline-block;

			&::after {
				content: "|";
				display: inline-block;
				padding: 0 0.8rem 0 1rem;
				color: rgba(255, 255, 255, 0.25);

				@media screen and (max-width: 600px) {
					display: none;
				}
			}

			&:last-child::after {
				display: none;
			}

			@media screen and (max-width: 600px) {
				display: block;
			}
		}
	}

	.go-top {
		z-index: 2;
		opacity: 0;
		visibility: hidden;
		-webkit-transform: scale(0);
		transform: scale(0);
		-webkit-transition-duration: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
		transition-duration: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
		-webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		position: fixed;
		bottom: var(--vspace-1);
		right: 4rem;

		@media screen and (max-width: 600px) {
			right: 2.4rem;
			bottom: 2.4rem;
		}

		a {
			text-decoration: none;
			border: 0 none;
			display: block;
			height: 6.4rem;
			width: 6.4rem;
			line-height: 6.4rem;
			text-align: center;
			border-radius: 50%;
			background-color: var(--color-gray-19) !important;
			-webkit-transition-duration: 0.3s;
			transition-duration: 0.3s;
			position: relative;

			@media screen and (max-width: 800px) {
				font-size: 1.6rem;
				height: 6rem;
				width: 6rem;
				line-height: 6rem;
			}

			@media screen and (max-width: 400px) {
				font-size: 1.4rem;
				height: 4.8rem;
				width: 4.8rem;
				line-height: 4.8rem;
			}
		}
	}

	
	> .row {
		@media screen and (max-width: 1400px) {
			max-width: 1100px;
		}

		@media screen and (max-width: 1200px) {
			max-width: 800px;
		}
	}

	@media screen and (max-width: 800px) {
		padding-top: var(--vspace-1);
	}
}