.review__card {
    position: relative;
    overflow: hidden;
    padding: 40px 28px;
    margin-bottom: 40px;
    background-color: var(--color-bg);
    border: 1px solid var(--color-white);

    @media (min-width: 540px) {
        padding-left: 40px;
        padding-right: 40px;
    }

    &-info {
        color: var(--color-text);
        font-size: var(--text-size);
        line-height: 1.6;
        font-weight: 600;
        margin: 0 0 32px;
    }

    &-meta {
        display: flex;
        align-items: center;

        &-author {
            margin: 0 12px 0 0;
            height: 60px;
            max-width: 60px;
            width: 100%;
            overflow: hidden;
            border-radius: 9999px;
        }

        &-title {
            color: var(--color-white);
            font-weight: 600;
            margin: 0 0 4px;
            font-size: var(--text-size);
            line-height: 1.5;
        }

        &-subtitle {
            color: var(--color-text);
            font-size: var(--text-sm);
            line-height: 1.5;
            margin: 0;
            font-weight: 600;
        }
    }

    &-icon {
        position: absolute;
        bottom: 32px;
        right: 32px;
    }
}