.styles {
    background-color: var(--color-bg);
    padding-top: calc(5 * var(--space));
    padding-bottom: var(--vspace-3);

    @media (max-width: 400px) {
        padding-top: var(--vspace-4);
    }

    .sub-title {
        z-index: 2;
        font-weight: 500;
        color: var(--color-1);
        font-size: var(--text-sm);
        font-weight: 600;
        line-height: var(--vspace-0_75);
        text-transform: uppercase;
        letter-spacing: 0.22em;

        margin-top: var(--vspace-2);
        margin-bottom: var(--vspace-0_5);
    }

    ul {
        list-style: disc;
        margin-bottom: 3rem;
        margin-left: 3rem;

        li {
            margin-bottom: 1rem;
        }
    }

    @import "./infoBanner";
}